* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 80px;
  width: 100%;
  background: #000000;
}

nav label {
  font-size: 35px;
  font-weight: bold;
  color: #FEFFFE;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav ul li a {
  color: #FEFFFE;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

nav ul li a:hover {
  border: 1px solid #c6ff00;
  -webkit-transition: .5s;
  transition: .5s;
}

nav #icon {
  color: #FEFFFE;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
  .logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav ul a {
    font-size: 17px;
  }
}

@media screen and (max-width: 909px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c6ff00;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: #181D27;
    font-size: 20px;
  }
  nav #icon {
    display: block;
  }
  nav ul.show {
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c6ff00;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav #icon {
    padding: 0;
    margin-right: 35px;
    display: block;
  }
  nav .logo {
    font-size: 24px;
    padding: 0;
    margin-left: 15px;
  }
  nav ul.show {
    left: 0;
  }
}

@media screen and (max-width: 300px) {
  nav .logo {
    font-size: 25px;
  }
}

#inicio {
  background-image: url(/assets/gimnasio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  background-color: #c6ff00;
}

#contact .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .container-form form {
  width: 40%;
  height: 350px;
  border: 1px solid #000000;
  text-align: center;
}

#contact .container-form form label {
  font-size: 25px;
  margin-right: 5px;
}

#contact .container-form form label textarea {
  margin: 30px;
}

#contact .container-form form input[type=text] {
  width: 40%;
  padding-right: 100px;
}
/*# sourceMappingURL=styles.css.map */