* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 80px;
  width: 100%;
  background: #000000;
}

nav label {
  font-size: 35px;
  font-weight: bold;
  color: #FEFFFE;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav ul li a {
  color: #FEFFFE;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

nav ul li a:hover {
  border: 1px solid #c6ff00;
  -webkit-transition: .5s;
  transition: .5s;
}

nav #icon {
  color: #FEFFFE;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
  .logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav ul a {
    font-size: 17px;
  }
}

@media screen and (max-width: 909px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c6ff00;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: #181D27;
    font-size: 20px;
  }
  nav #icon {
    display: block;
  }
  nav ul.show {
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c6ff00;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav #icon {
    padding: 0;
    margin-right: 35px;
    display: block;
  }
  nav .logo {
    font-size: 24px;
    padding: 0;
    margin-left: 15px;
  }
  nav ul.show {
    left: 0;
  }
}

@media screen and (max-width: 300px) {
  nav .logo {
    font-size: 25px;
  }
}

#inicio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 300px;
}

#inicio h1 {
  margin: 100px 0px 0px 70px;
  width: 40%;
  font-size: 60px;
}

#inicio img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  height: auto;
  bottom: 90px;
}

#descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 400px;
  background-color: #c6ff00;
}

#descripcion .texto-descripcion {
  width: 50%;
  margin-left: 90px;
}

#descripcion .texto-descripcion h1 {
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 45px;
}

#descripcion .texto-descripcion h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
}

#descripcion .iframe-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 90px;
}

#descripcion .iframe-div iframe {
  border-radius: 10px;
}

#paquetes {
  background-color: #797979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

#paquetes .cards {
  background-color: #FEFFFE;
  width: 300px;
  height: 300px;
  border-radius: 25px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem;
  overflow: hidden;
  width: 30rem;
  height: 19rem;
}

#paquetes .cards div h2 {
  margin: 30px;
  width: 100%;
  font-size: 18px;
  color: #FEFFFE;
  letter-spacing: .1rem;
  text-align: center;
}

#paquetes .cards .left-column {
  background-color: #000000;
  max-width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#paquetes .cards .right-column {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#paquetes .cards .right-column p {
  font-size: .9rem;
}

#paquetes .cards .right-column .button {
  border-radius: 3rem;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #c6ff00;
  font-size: 1.2rem;
  padding: .8rem 1.3rem;
  letter-spacing: .1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 1030px) {
  #paquetes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

#contact {
  background-color: #c6ff00;
}

#contact .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .container-form form {
  width: 40%;
  height: 350px;
  border: 1px solid #000000;
  text-align: center;
}

#contact .container-form form label {
  font-size: 25px;
  margin-right: 5px;
}

#contact .container-form form label textarea {
  margin: 30px;
}

#contact .container-form form input[type=text] {
  width: 40%;
  padding-right: 100px;
}
/*# sourceMappingURL=styles.css.map */